@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #e2e2e2 100%, #ffffff 100%);
  font-family: 'Poppins', sans-serif; /* Optional for a modern font */
  min-height: 100vh; /* Ensures it covers the full viewport */
}



