
.card-container {
    display: flex;
    justify-content:center; 
    align-items: center;
  }
  
 
  .card {
    width: 450px; 
    height: 200px; 
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
  }
  
 
  .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }
  